.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 24px;
}

@media (width <= 1024px) {
  .container {
    margin-top: 0;
  }
}

.content {
  display: flex;
  flex-direction: row;
}

@media (width <= 1024px) {
  .content {
    flex-direction: column;
  }
}

.section {
  display: flex;
  flex-direction: column;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;

  padding-right: 24px;
  border-right: 1px solid #E1E6EB;
}

@media (width <= 1024px) {
  .section {
    width: 100%;

    padding: 0;
    border: none;
  }
}

.detail {
  display: flex;
  flex-direction: row;
  width: 100%;

  padding-left: 24px;
}

@media (width <= 1024px) {
  .detail {
    padding: 24px 0 0 0;
  }
}

@media (width <= 640px) {
  .detail {
    flex-direction: column;

    padding: 24px 0 0 0;
  }
}

.info:nth-child(1) {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 0 24px 0 0;
  border-right: 1px solid #E1E6EB;
}

@media (width <= 640px) {
  .info:nth-child(1) {
    padding: 0 0 24px 0;
    border: none;
    border-bottom: 1px solid #E1E6EB;
  }
}

.info:nth-child(2) {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 0 0 0 24px;
}

@media (width <= 640px) {
  .info:nth-child(2) {
    padding: 24px 0 0 0;
  }
}

.mainImage {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.mainTitle {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  color: black;
}

@media (width <= 1024px) {
  .mainTitle {
    font-size: 36px;
    line-height: normal;
  }
}

@media (width <= 640px) {
  .mainTitle {
    font-size: 28px;
    line-height: normal;
  }
}

.bottom {
  margin: 24px 0;
  border: 1px solid #E1E6EB;
}

.divider:nth-child(even) {
  padding: 24px 0;
  border-bottom: 1px solid #E1E6EB;
}

.divider:nth-child(odd) {
  padding: 24px 0;
  border-bottom: 1px solid #E1E6EB;
}

.divider:first-child {
  padding: 0 0 24px 0;
  border-bottom: 1px solid #E1E6EB;
}

.divider:nth-last-child(1) {
  padding: 24px 0 0 0;
  border-bottom: none;
}