.container {
  width: 100%;

  display: flex;
  flex-direction: row;

  margin-bottom: 36px;
}

@media (width <= 1024px) {
  .container {
    flex-direction: column;
  }
}

.content {
  width: 75%;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (width <= 1024px) {
  .content {
    width: 100%;
  }
}

.space {
  width: 25%;
}

@media (width <= 1024px) {
  .space {
    display: none;
  }
}

.title {
  font-size: 42px;
  font-weight: 700;
  color: black;
}

@media (width <= 1024px) {
  .title {
    font-size: 36px;
  }
}

@media (width <= 640px) {
  .title {
    font-size: 28px;
  }
}

.description {
  font-size: 24px;
  font-weight: 400;
  color: #63676C;
}

@media (width <= 1024px) {
  .description {
    font-size: 20px;
  }
}

@media (width <= 640px) {
  .description {
    font-size: 18px;
  }
}


.category {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.topic {
  font-size: 12px;
  font-weight: 700;
  color: #0089CC;
  text-transform: uppercase;
}

.date {
  font-size: 12px;
  font-weight: 700;
  color: #A0A5AA;
  text-transform: uppercase;
}