.container {
  width: 100%;

  display: flex;
  flex-direction: row;
}

@media (width <= 1024px) {
  .container {
    flex-direction: column;
  }
}

.content {
  width: 75%;

  display: flex;
  flex-direction: column;
  gap: 36px;

  padding-right: 24px;
  border-right: 1px solid #E1E6EB;
}

@media (width <= 1024px) {
  .content {
    width: 100%;

    padding: 0;
    border: none;
  }
}

.related {
  width: 25%;

  display: flex;
  flex-direction: column;
  gap: 24px;

  padding-left: 24px;
}

@media (width <= 1024px) {
  .related {
    display: none;
  }
}

.topic {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.topicImage {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.topicTitle {
  font-size: 12px;
  font-weight: 400;
  color: #A0A5AA;
}

.topicDescription {
  font-size: 14px;
  font-weight: 400;
  color: #63676C;
}

.description {
  font-size: 18px;
  font-weight: 400;
  color: black;

  padding: 0 48px;
}

@media (width <= 1024px) {
  .description {
    padding: 0 24px;
  }
}

@media (width <= 640px) {
  .description {
    padding: 0 12px;
  }
}

.relatedTitle {
  font-size: 16px;
  font-weight: 700;
  color: #22262A;
}