.container {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 16px;
}

.container:hover {
  opacity: .75;
  transition: all .3s ease;
}

.number {
  font-size: 48px;
  font-weight: 700;
  color: #BFC3C9;

  margin-top: auto;
  margin-bottom: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 12px;
  letter-spacing: 1px;
  color: #0089CC;
}

.description {
  font-size: 18px;
  color: #22262A;

  min-height: 64px;
}

@media (width <= 640px) {
  .description {
    min-height: fit-content;
  }
}